.rb-flowing-menu-wrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.rb-flowing-menu {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
}

.rb-flowing-menu-item {
  flex: 1;
  position: relative;
  overflow: hidden;
  text-align: center;
  border-top: 1px solid;
}

.rb-flowing-menu-item:first-child {
  border-top: none;
}

.rb-flowing-menu-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  font-weight: 800;
  font-size: clamp(22px, 4vh, 42px);
  letter-spacing: 0;
}

.rb-flowing-menu-link:hover,
.rb-flowing-menu-link:focus:not(:focus-visible) {
  color: inherit;
}

.rb-flowing-menu-marquee {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  pointer-events: none;
  transform: translate3d(0, 101%, 0);
}

.rb-flowing-menu-marquee-wrap {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.rb-flowing-menu-marquee-inner {
  display: flex;
  align-items: center;
  position: relative;
  height: 100%;
  width: fit-content;
  will-change: transform;
}

.rb-flowing-menu-marquee-part {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.rb-flowing-menu-marquee span {
  white-space: nowrap;
  text-transform: uppercase;
  font-weight: 700;
  font-size: clamp(22px, 4vh, 42px);
  line-height: 1;
  padding: 0 1vw;
}

.rb-flowing-menu-marquee-img {
  width: 200px;
  height: 7vh;
  min-height: 48px;
  margin: 2em 2vw;
  padding: 1em 0;
  border-radius: 50px;
  background-size: cover;
  background-position: 50% 50%;
}
